:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*header*/
.hd-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  position: relative;
}

/*footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
  background-color: #8e9fb8;
}

.footer {
  display: flex;
  display: inline;
  margin: 40px;
}

.ft-list {
list-style: none;
display: inline;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
