:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*header*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  gap: 1400px;
  list-style: none;
  position: relative;
  margin-top: 15px;
  background-color: #2b4353;
}
 
.link {
  margin-right: 10px;
}

.text {
  display: flex;
  color: #ffffff;
}

.hd-nav {
  display: flex;
  list-style: none;
}

/*footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 300px;
  background-color: #9cd3d3;
}

.footer {
  display: flex;
  display: inline;
  margin: 40px;
}

.ft-list {
list-style: none;
display: inline;
}

/*login page*/
.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  margin-left: 500px;
  height: 300px;
  width: 700px;
  border-style: groove;
  background-color: #b6e1e0;
}

button {
  margin-top: 50px;
  margin-left: 135px;
  border-radius: 35px;
  height: 35px;
  width: 100px;
}

label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
  font-weight: 500;
}

input {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 30px;
  width: 350px;
  margin: 5px;
}

/*signup page*/
.sign {
  border-style: groove;
  margin-top: 50px;
  margin-left: 650px;
  width: 420px;
  background-color: #b6e1e0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
